##########################
## Java & SVN & Git
##########################
*.class
*.war
.mtj.tmp/
hs_err_pid*
*.merge-left*
*.merge-right*
*.svn
*/.svn/*
.svn
_svn
svn-commit*.tmp
*.tmp
*.git
*/.git/*
*.mine
*.prej
*.working
*.deployables
*.log
*/.recommenders/*
.recommenders/*
RemoteSystemsTempFiles/*

##########################
## Maven
##########################
log/
dist/
target/
*/target/*
*/.target/*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

##########################
## IntelliJ
##########################
*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/

##########################
## Eclipse
##########################
.classpath
.project
.settings/
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.loadpath

##########################
## NetBeans
##########################
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

##########################
## OS X
##########################
.DS_Store

/.recommenders/
**/.vscode/

##########################
## Node && ReactJS
##########################
node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
build/
remote-repo/
coverage/
.module-cache
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo

packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-scheduling-profiler/dist



